<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ContactApp</title>
</head>
<body>
    <h1>Contact App</h1>
    <h3>Login</h3>
    <form method="POST">
        User Name: <input name="username">
        Password: <input name="password">
        <div>
            <button type="submit">Login</button>
        </div> 
    </form>
    <button><a href="/register">New User?</a></button>
</body>
</html>